@import "../../_variables.scss";

.list-container {
  width: 400px;
  margin: 20px;
  -webkit-box-shadow: $primary-box-shadow;
  -moz-box-shadow: $primary-box-shadow;
  box-shadow: $primary-box-shadow;
  background-color: $primary-background-color;
}

.list-control {
  text-align: center;
  padding: 20px 0;
}

.list-add-button {
  width: 170px;
  border-radius: 8px;
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 24px;
  outline: none;
  border: none;
  -webkit-box-shadow: $primary-box-shadow;
  -moz-box-shadow: $primary-box-shadow;
  box-shadow: $primary-box-shadow;
}

.list-add-button:hover {
  -webkit-box-shadow: $secondary-box-shadow;
  -moz-box-shadow: $secondary-box-shadow;
  box-shadow: $secondary-box-shadow;
}